/* Master */
.img_photo_check{
	border: 1px #1c160d solid;
	margin: 5px;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
}

.img_photo_check img{
	height: 130px;
}

.img_photo_check a{
	display: block;
	margin-top: 15px;
}


.uploader{
	padding-left: 50px;
}
